global
    log stdout format raw local0
    daemon
    maxconn 256
defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
mode http
redirect http to https
redirect scheme https code 301 if !{ ssl_fc }
frontend www-https
    bind *:443 ssl crt /usr/local/etc/haproxy/key.pem
    http-request add-header X-Forwarded-Proto https
    http-request add-header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
    option http-keep-alive
    log global
    option httplog
    option forwardfor
    timeout client 30s
    acl content-acl path_beg -i /sites/default/files
    acl analytics-acl path_beg -i /matomo
    use_backend digital-hub-content-backend if content-acl
    use_backend analytics-backend if analytics-acl
    default_backend digital-hub-backend
backend digital-hub-content-backend
    mode http
    server drupal hub-be:80 check
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
backend digital-hub-backend
    mode http
    server node hub-node:3000 check
    option http-keep-alive
    option prefer-last-server
    timeout server 30s
    timeout connect 4s
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
backend analytics-backend
    mode http
    server matomo hub-matomo:80 check
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
#backend content-backend
#    mode http
#    server content hub-be:80 check
#    http-request set-header X-Forwarded-Port %[dst_port]
#    http-request add-header X-Forwarded-Proto https if { ssl_fc }