#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars


ansible/roles/hub-containers/db/dump/hub.sql
docker/selfseigned.pfx
ansible/roles/letsencrypt
Bastion\ansible\host_vars\pfs-management-bastion-1.uksouth.cloudapp.azure.com
*.rsa
*.crt
*.pem
Gemfile.lock
Ansiblefile.lock
.librarian
librarian_roles/
tmp/
*.retry
.vagrant/
stage.old
Vagrantfile.old
./jenkins
./letsencrypt

