worker_rlimit_nofile 30000;
#load_module /usr/lib/nginx/modules/ngx_stream_module.so;
events {}
http {
    log_format compression '$remote_addr - $remote_user [$time_local] '
                           '"$request" $status $body_bytes_sent '
                           '"$http_referer" "$http_user_agent" "$gzip_ratio"';
     error_log /etc/nginx/error_log.log warn;
    client_max_body_size 20m;
    server_names_hash_bucket_size 512;
    proxy_headers_hash_bucket_size 128;
    proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=content_cache:10m max_size=10g use_temp_path=off;
    proxy_buffer_size 16k; # should be enough for most PHP websites, or adjust as above
    proxy_busy_buffers_size 24k; # essentially, proxy_buffer_size + 2 small buffers of 4k
    proxy_buffers 64 4k; # should be enough for most PHP websites, adjust as above to get an accurate value
    upstream hub_node {
        server hub-node:3000;
        keepalive 16;
    }
    upstream hub_cms {
        server hub-be:8080;
        keepalive 16;
    }

    server {
        listen       80  default_server;
        server_name  _;
        return       418;
    }

    server {
        listen 80;
        server_name {{ hub_url }};
        add_header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
        location /sites/default/files/ {
                proxy_set_header   Host              $host;
                proxy_set_header   X-Real-IP         $remote_addr;
                proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
                proxy_set_header   X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_buffer_size 16k; # should be enough for most PHP websites, or adjust as above
                proxy_busy_buffers_size 24k; # essentially, proxy_buffer_size + 2 small buffers of 4k
                proxy_buffers 64 4k; # should be enough for most PHP websites, adjust as above to get an accurate value
                proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;
                proxy_cache_valid 200 302 10m;
                proxy_cache content_cache;
                proxy_pass http://hub_cms/sites/default/files/;

        }
        location / {
                access_log /var/log/nginx/access.log compression buffer=32k;
                proxy_pass http://hub_node/;
                proxy_http_version 1.1;
                proxy_set_header Connection "";
        }
    }

}