version: "3"

services:
  hub-be:
    restart: "always"
    environment:
      HUB_EXT_FILE_URL: {{ drupal_url }}
    volumes:
      - /mnt/pfs-prod-digital-hub-content-share/hub/sites/default/files:/var/www/html/sites/default/files

  hub-db:
    restart: "always"
    volumes:
      - /data/hub-db:/var/lib/mysql:rw

  hub-node:
     restart: "always"
     environment:
      - "APP_NAME={{ app_name }}"
      - "ESTABLISHMENT_NAME={{ establishment_name }}"
      - "NODE_ENV=production"
      - "DRUPAL_APP_URI={{ drupal_url }}"
      - "MATOMO_URL={{ matomo_url }}"
      - "MATOMO_TOKEN=b0eba0766f3787a98c84a772de5edaf1"
      - "MATOMO_API_URI=http://hub-matomo"
      - "ENABLE_PRISON_SWITCH={{ feature_switch }}"
      - "NOMIS_API_TOKEN= true"
      - "NOMIS_API_ENDPOINT=Something"

  hub-elasticsearch:
    restart: "always"
    volumes:
      - /data/esdata:/usr/share/elasticsearch/data

      
  hub-matomo:
    restart: "always"
    volumes:
      - /data/moj_dhub_matomo_config:/var/www/html/config:rw

  hub-matomo-db:
    restart: "always"
    volumes:
      - /data/moj_dhub_matomo_db/var/lib/mysql/:/var/lib/mysql/

  nginx: 
    volumes:
      - /etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/nginx/san.digital-hub.crt:/etc/letsencrypt/live/localhost/san.digital-hub.crt
      - /etc/nginx/san.digital-hub.rsa:/etc/letsencrypt/live/localhost/san.digital-hub.rsa
      - /etc/nginx/logs:/var/log/nginx:rw